# Configuración de Servidor
PORT=3002

# Configuración de Base de Datos
# Local: usa una base de datos PostgreSQL local o la de Railway
# DATABASE_URL="postgresql://user:password@localhost:5432/gestproyectos"
# Production (Railway):
DATABASE_URL="postgresql://postgres:password@host.railway.internal:5432/railway"

# Configuración de Seguridad y JWT
JWT_SECRET="your_jwt_secret_key"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key"

# Configuración de Socket.io / CORS
FRONTEND_URL="http://localhost:3000"
